@mixin container {
    @media screen and (min-width: 1960px) {
    width: 1504px;
    margin-left: auto!important;
    margin-right: auto!important;
  }
}

@mixin flex-align-center {
  display: flex;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

.to-asces-btn {
  font-size: 1.75rem;
  width: 100%;
}

.content-wrapper {
  padding: 2rem;
  min-height: 100vh;
  @include flex-column;
  @include container;
}


.topbar {
  @include flex-align-center;
  margin-bottom: 2rem;
  justify-content: space-between;

  &-menu {
    @include flex-align-center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &-profile {
    margin-left: 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

.layout-main {
  flex-grow: 1;
  justify-content: center;
  @include flex-column;

  h1 {
    font-size: 4rem;
    text-align: center;
  }
  .about-asceticism {
    font-size: 1.75rem;
    max-width: 700px;
    margin: 0 auto;
    p:last-of-type {
      margin-bottom: 4rem;
    }
  }
}
