@use 'sass:map';
//theme
@import "primereact/resources/themes/viva-dark/theme.css";

//core
@import "primereact/resources/primereact.min.css";

@import "styles/prime_sizes.scss";
@import "primeflex/primeflex.scss";


//icons
@import "primeicons/primeicons.css";

@import "styles/base.scss";

@font-face {
    font-family: Evander;
    font-weight: bold;
    src: url("fonts/PunchformEvanderExtraBold.otf") format("opentype");
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

.logo {
  font-family: Evander, serif;
}

:root {
  --surface-hover: rgba(255,255,255,.03);
  --transition-duration: .2s;
  --surface-card: #161a1f;
}

.p-inline-message .p-inline-message-text {
  flex-grow: 1;
  text-align: center;
}